/* =========================================== */
/* Variables */
/* =========================================== */
:root {
  /* Colour */
  --primary-color: #007bff; 
  --primary-light-color:#686de0 ;
  --primary-v3 :rgb(173, 203, 248);

  --secondary-color: #ecf0f1;
  --font-light-colour: #ffffff;
  --font-dark-colour: #2c3e50;
  --white-colour: #ffffff;
  --black-colour: #000000;

  --desable-colour:gray;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
padding: 0;
margin: 0;
}

/* ================================================= */
/* NAVIGATION */
/* ================================================= */
.nav-bar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
.nav-bar .nav-left-container{
    width: 60%;
    display: flex;
    justify-content: end;
}
.nav-bar .Logo-text {
  color: var(--font-light-colour);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}
.nav-bar .nav-right-container{
    width: 40%;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}
.nav-bar .nav-right-container i{
    color: var(--font-light-colour);
    font-size: 32px;
    font-weight: 900;
    cursor: pointer;
}
.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}
/* ================================================= */
/* Main Conatiner */
/* ================================================= */
.main-container{
  background: var(--secondary-color);
  padding: 30px 10px;
  color: var(--font-dark-colour);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ================================================= */
/* Switch Tabs */
/* ================================================= */
.switch-wrapper {
  width: 90%;
  max-width: 600px;
  margin: auto;
  background: var(--primary-v3);
  border-radius: 30px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.switch-btn {
  flex: 1;
  padding: 12px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  opacity: 0.6;
  transition: 0.2s;
}

.switch-btn.active {
  background: var(--primary-color);
  color: var(--font-light-colour);
  opacity: 1;
}
/* ================================================= */
/* Panels */
/* ================================================= */
.panel {
  width: 80%;
  /* max-width: 720px; */
 display: none;
 flex-direction: column;
 /* background-color: var(--white-colour); */
 justify-content: center;
 align-items: center;
 padding: 2% 3%;
 margin-top: 50px;
  transition: 0.01s;
}
.panel.active {
  display: flex;
}

/* ================================================= */
/* normal-result*/
/* ================================================= */
.panel .normal-result{
  width: 100%;
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  background: var(--white-colour);
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.08);
}
.panel .normal-resul{
  display: block;
}


.panel  h2 {
  margin-bottom: 10px;
  font-size: 3rem;
}
/* --------------------------------------------------------- */
/* Inputs */
/* --------------------------------------------------------- */
.input-field {
  width: 100%;
  font-size: 32px;
  font-weight: 600;
  padding: 5px 10px;
  margin-bottom: 25px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.base-switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.base-switch button {
  flex: 1;
  font-size: 28px;
  padding: 10px;
  margin: 0 4px;
  border-radius: 8px;
  border: none;
  background: var(--primary-color);
  color: var(--font-light-colour);
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.base-switch button:hover {
  background: var(--primary-light-color);
}
.base-switch button .active {
  background: var(--primary-light-color);
}
/* --------------------------------------------------------- */
/* Convert Button */
/* --------------------------------------------------------- */
.convert-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: var(--primary-color);
  color: var(--font-light-colour);
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}
.convert-btn:hover{
  background-color: var(--primary-light-color);
}
/* --------------------------------------------------------- */
/* Result Box */
/* --------------------------------------------------------- */
.result-box {
  font-size: 28px;
  padding: 15px;
  background: var(--secondary-color);
  border-radius: 8px;
  text-align: center;
  border: 1px dashed var(--primary-color);
}
