@media only screen and (max-width: 720px) and (min-width: 318px) {
    *{
        margin: 0;
        padding: 0;
    }
  body {
    margin: 0;
    padding: 0;
  }
  /* ===================================== */
  /* NAVIGATION */
  /* ===================================== */
  .nav-bar {
    width: 100%;
    height: 30px;
    padding: 2px 2px;
    margin-bottom: 20px;
  }
  .nav-bar .nav-left-container {
    width: 65%;
  }
  .nav-bar .nav-left-container .Logo-text {
    font-size: 18px;
    font-weight: 600;
  }
  .nav-bar .nav-right-container {
    width: 35%;
    padding-right: 5px;
  }
  .nav-bar .nav-right-container i {
    font-size: 20px;
  }
}