*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  /* background: linear-gradient(135deg, #dfe9f3, #ffffff); */
  /* min-height: 100vh; */
  height: 100vh;
}

/* Navigation Bar */
.nav-bar {
  background-color: #4a90e2;
  padding: 1rem 2rem;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-bar h1 {
  margin: 0;
}

/* Main Containier */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
  border: 2px solid #4a90e2;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto 20%;
}
/* Input Container */
.input-container {
  width: 80%;
  max-width: 600px;
  padding: 1rem;
  border-bottom: 2px solid #4a90e2;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.input-container .input-row-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
/* Input Button */
.input-container .input-row-container .input-btn {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #4a90e2;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.input-container .input-row-container .input-btn:hover {
  background-color: #357abd;
}

/* Input field */
.input-container .input-row-container .input-field {
  flex: 3;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
.input-container .input-row-container .input-field:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}
/* Button Container */
.btn-container {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn-container .btn-row-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.btn-container .btn-row-container button {
  flex: 1;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #4a90e2;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
