/* Responsive css */
@media only screen and (max-width: 768px) and (min-width: 320px) {
  /* NAVIGATION */
  .nav-bar {
    height: 40px;
  }
  .nav-bar .Logo-text {
    font-size: 18px;
    font-weight: 600;
  }

  /* Main Container */
  .main-container {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  /* Calculator Container */
  .calc-container {
    width: 100%;
    max-width: 100%;
    /* background-color: aqua; */
    box-shadow: none;
        margin: 0;
    padding: 0;
  }
  /* Input container */
  .input-container {
    padding: 0% 2%;
    /* margin-top: 5px; */
    margin: 5px 0 0 0; 

  }
  .input-container .input-row-container .input-btn{
    font-size: 24px;
    padding: 10px;
  }


  /* //////////////////////////////////// */
  /* Buton Container  */
.btn-container{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
}

.btn-container .edit-bar{
    width: 100%;
    height: auto;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    /* background-color: var(--font-dark-colour); */
}
.btn-container .edit-bar button{
    width: 100%;
    height: auto;
    font-size: 38px;
    padding: 10px 10px;
    border: none;
    border-radius: 7px;
    background-color: var(--primary-color);
    color: var(--font-light-colour);
}


/* Button row Contaienr */
.btn-container .btn-row-container{
    width: 100%;
    height: auto;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 5px;
}
.btn-container .btn-row-container button{
    font-size: 42px;
    font-weight: 600;
    padding: 10px 12px; 
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--font-light-colour);
    border-radius: 10px;
}
.btn-container .btn-row-container .number-btn{
  width: 20%;
  min-width: 20%;
}
/* AC button class for AC button of mobile view  */
.btn-container .btn-row-container .ac-btn-mob{
  width:40%;
}
/* Del button class for DEL Button */
.btn-container .btn-row-container .del-btn-desk{
  width:40%;
  display: none;
}


/* ////////////////////////////////////////////////////////// */
/* Special Buttons style */
.btn-container .btn-row-container .point-btn{
    width: 20%;
    min-width: 20%;
}
.btn-container .btn-row-container .zero-btn{
    width: 43%;
}
.btn-container .btn-row-container .equal-btn{
    width: 37%;
    min-width: 30%;
}


}/* End of responsive css */