/* =========================================== */
/* Variables */
/* =========================================== */
:root {
  /* Colour */
  --primary-color: #3498db;
  --secondary-color: #ecf0f1;
  --font-light-colour: #ffffff;
  --font-dark-colour: #2c3e50;
  --white-colour: #ffffff;
  --black-colour: #000000;

  --desable-colour:gray;
}
/* ============================================= */
/* Reseting Style */
/* ============================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ================================================= */
/* NAVIGATION */
/* ================================================= */
.nav-bar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
.nav-bar .nav-left-container{
    width: 60%;
    display: flex;
    justify-content: end;
}
.nav-bar .Logo-text {
  color: var(--font-light-colour);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}
.nav-bar .nav-right-container{
    width: 40%;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}
.nav-bar .nav-right-container i{
    color: var(--font-light-colour);
    font-size: 32px;
    font-weight: 900;
    cursor: pointer;
}
/* ================================================== */
/* Main Container */
/* ================================================== */
.main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: auto;
  /* background-color: #ecf0f1; */
}
/* --------------------------------------------------- */
/* MAin Container Paragraph */
/*--------------------------------------------------- */
.main-container p {
  font-size: 14px;
  margin-bottom: 15px;
}
.main-container p a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

/* ================================================== */
/* Calculator Container */
/* ================================================== */
.calc-container {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 720px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ================================================== */
/* Input container */
/* ================================================== */
.input-container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 1% 2%;
  margin-top: 10px;
}
.input-container .input-row-container {
  width: 100%;
  height: auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 5px;
  
}

.input-container .input-row-container .input-btn {
  width: 20%;
  height: auto;
  background-color: var(--primary-color);
  padding: 20px 0;
  color: var(--font-light-colour);
  font-size: 42px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.input-container .input-row-container .input-btn:hover {
  background-color: var(--font-dark-colour);
  transition: 0.2s;
}
.input-container .input-row-container .active {
  background-color: var(--font-dark-colour);
}
.input-container .input-row-container .input-field {
  width: 80%;
  height: auto;
  background-color: var(--secondary-color);
  font-size: 62px;
  font-weight: 600;
  padding: 5px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

/* ====================================================== */
/* Buton Container  */
/* ====================================================== */
.btn-container {
  display: flex;
  flex-direction: column;
  padding: 0 1% 0 1%;
}
/* Edit bar */
.btn-container .edit-bar {
  display: none;
}
.btn-container .edit-bar button a {
  text-decoration: none;
  color: var(--font-light-colour);
}

/* ================================================== */
/* Button row Contaienr */
/* ================================================== */
.btn-container .btn-row-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.btn-container .btn-row-container:last-child {
  margin-bottom: 10px;
}
.btn-container .btn-row-container .button-row-left {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn-container .btn-row-container .btn-row-right {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn-container .btn-row-container .button-row-left > button {
  width: 32%;
  font-size: 6vh;
  font-weight: 600;
  padding: 12px 0;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--font-light-colour);
  border-radius: 10px;
}
.btn-container .btn-row-container .btn-row-right > button {
  width: 48%;
  font-size: 6vh;
  font-weight: 600;
  padding: 12px 0;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--font-light-colour);
  border-radius: 10px;
}
.btn-container
  .btn-row-container:last-child
  .button-row-left
  > button:first-child {
  width: 32%;
}
.btn-container
  .btn-row-container:last-child
  .button-row-left
  > button:last-child {
  width: 66%;
}
.btn-container .btn-row-container:last-child .btn-row-right > button {
  width: 98%;
}

.btn-container .btn-row-container > button {
  font-size: 6vh;
  font-weight: 600;
  padding: 10px;
  margin: 0 10px 0 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--font-light-colour);
  border-radius: 10px;
}
.btn-container .btn-row-container .button-row-left  .disabled {
  background-color: var(--desable-colour);
  transition: 0.2s;
}

.btn-container .btn-row-container button:hover {
  background-color: #21618c;
  transition: 0.2s;
}
.btn-container > .btn-row-container > .disabled {
  background-color: grey;
  transition: 0.2s;
}

/* ////////////////////////////////////////////////////////// */

/* ================================================== */
/* Special Buttons style */
/* ================================================== */
