/* Variables */
:root{
    /* Colour */
    --primary-color: #3498db;
    --secondary-color: #ecf0f1;
    --font-light-colour: #ffffff;
    --font-dark-colour: #2c3e50;
    --white-colour: #ffffff;
    --black-colour: #000000;

}

/* Reseting Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
padding: 0;
margin: 0;
/* background-color: var(--secondary-color); */
display: flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;
height: 100vh;
}

/* NAVIGATION */
.nav-bar{
display: flex;
justify-content: center;
align-items: center;
background-color: var(--primary-color);
height: 60px;
width: 100%;
}
.nav-bar .Logo-text{
    color: white;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;   
    cursor: pointer;
}

/* Main Container */
.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #ecf0f1;
    overflow: hidden;
}
/* Calculator Container */
.calc-container{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 720px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Input container */
.input-container{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 1% 2%;
    margin-top: 10px;
}
.input-container .input-row-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    gap: 10px;
}


.input-container .input-row-container .input-btn{
    width: 20%;
    height: auto;
    background-color:var(--primary-color);
    padding: 20px 0 ;
    color: var(--font-light-colour);
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.input-container .input-row-container .input-btn:hover{
    background-color: #2c3e50;
    transition: 0.2s;
}
/* .input-container .input-row-container .input-btn .active {
    background-color: #11f041;
    transform: scale(0.95);
} */
.input-container .input-row-container .active{
    background-color: #2c3e50;
}
.down{
    background-color: grey;
    color: aqua;
    cursor: not-allowed;
}

.input-container .input-row-container .input-field{
    width: 80%;
    height: auto;
    background-color: var(--secondary-color);
    font-size: 50px;
    font-weight: 600;
    padding: 5px 5px 5px 10px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}


/* Buton Container  */
.btn-container{
display: flex;
flex-direction: column;
padding: 0 1% 2% 1%;
}
/* Edit bar */
.btn-container .edit-bar{
    /* width: 100%;
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px; */
    display: none;
}
/* .btn-container.btn-container .edit-bar button{
    width: 50px;
    height: 40px;
    font-size: 32px;
    font-weight: 600;
    padding: auto;
    border: none;
    border-radius: 7px;
    background-color: var(--primary-color);
    color: var(--font-light-colour);
    cursor: pointer;
} */

/* Button row Contaienr */
.btn-container .btn-row-container{
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn-container .btn-row-container button{
    font-size: 42px;
    font-weight: 600;
    padding: 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--font-light-colour);
    border-radius: 10px;
}
.btn-container .btn-row-container button:hover{
    background-color: #21618c;
    transition: 0.2s;
}
.btn-container > .btn-row-container > .disabled{
    background-color: grey;
    transform: scale(0.95);
}
/* ////////////////////////////////////////////////////////// */
/* Special Buttons style */
.btn-container .btn-row-container .point-btn{
    width: 20%;
    min-width: 19%;
}
.btn-container .btn-row-container .zero-btn{
    width: 50%;
    min-width: 39%;
}
.btn-container .btn-row-container .equal-btn{
    width: 35%;
    min-width: 39%;
}
